<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>app.septa.sidecar</string>
	<key>ProgramArguments</key>
	<array>
		<string>__START_SIDECAR__</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__REPO_ROOT__</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__SIDECAR_LOG__/sidecar.out.log</string>
	<key>StandardErrorPath</key>
	<string>__SIDECAR_LOG__/sidecar.err.log</string>
</dict>
</plist>
